---
title: opleiding
layout: page
permalink: opleiding/index.html
---

<div class="title__section">
    <img class="main-image" src="{{ '/static/images/front-image.svg' | url }}" alt="">
    <h1 class="title__head">Opleiding</h1>
</div>