.googleform {
    margin: 0 auto;
    margin-bottom: var(--gutter);
}

.workspace__learning {
    font-size: 18px;
    h2 {
        font-family: var(--futur-font);
        margin-top: calc(var(--gutter)*2);
    }
}