---
title: posts
layout: page
permalink: posts/posts/index.html
---

<div class="title__section">
    <img class="main-image" src="{{ '/static/images/front-image.svg' | url }}" alt="">
    <div id="detailpage-posts"></div>
</div>

<script src="{{ '/static/js/detail-posts.js' | url }}"></script>