.slider-image1 {
    background-image: url(../../static/images/banner2.jpg);
    width: 700px;
    height: 400px;
    background-position: center;
    background-size: cover;
    transition-duration: 1;
    border-radius: 0px 20px 20px 0px;
  }
  
  .slider-image2 {
    background-image: url(../../static/images/banner3.jpg);
    width: 700px;
    height: 400px;
    background-position: center;
    background-size: cover;
    border-radius: 0px 20px 20px 0px;
  }
  
  .slider-image3 {
    background-image: url(../../static/images/banner.jpg);
    width: 700px;
    height: 400px;
    background-position: center;
    background-size: cover;
    border-radius: 0px 20px 20px 0px;
  }
  
  .slider-image1, .slider-image2, .slider-image3 {
    top: 0px;
    z-index: -1;
  }
  
  .slider {
    margin-top: 200px;
    width: 100%;
    z-index: -1;
  }
  
  .header-slider {
    height: 300px;
  }
  
  .slider_square_button {
    z-index: 99999;
    margin-left: calc(var(--gutter)*24.5);
    margin-top: -320px;
    width: 20px;
    height: 100px;
    border: 1px solid gray;
    text-align: center;
    border-radius: 10px;
    position: relative;
    justify-content: space-between;
  }
  
  .slider_square_button button {
    width: 12px;
    height: 12px;
    display: flex;
    flex-direction: column;
    border: 1px solid white;
    border-radius: 50px;
    z-index: 99999;
    background: transparent;
    cursor: pointer;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 4px;
  }
  
  .dot.active {
    background-color: white;
  }
  
  .header-text-top {
    color: white;
    margin-top: -180px;
  }

  .header-text-top h2 {
    margin-left: 50px;
    z-index: 999999;
  }
  
  .header-text-top>h1 {
    font-size: var(--font-size-h2);
  }
  
  .header-text-top a {
    text-decoration: none;
    color: white;
    font-size: 15px;
  }

  .header-button1,.header-button2 {
    width: 40px;
    height: 60px;
    background: #152d3a;
    color: white;
    cursor: pointer;
    border: none;
  }
  
  .header-button1 i, .header-button2 i {
    top: 23px;
    right: 15px;
  }
  
  .header-button {
    height: 60px;
    z-index: 99999;
    width: 100px;
    margin-left: 850px;
  }
  
  .header-content {
    width: 100%;
  }
  
  .header-button1:hover,.header-button2:hover {
    opacity: 1;
  }

  .slidercontent {
    width: 500px;
  }

  @media only screen and(max-width: 500px) {
    .cases__square {
        position: absolute;
        left: 0px;
    }
    .slider {
        width: 100vw;
        .slidercontent {
            width: 100vw;
            .slider-image1,.slider-image2,.slider-image3 {
                width: 100vw;
            }
        }
    }
  }
  