main {
    img {
        max-width: 100%;
    }
}

body {
    overflow-x: hidden;
    a {
        color: var(--color--whitish);
    }
    a:hover {
        color: var(--color--pinkish);
        text-decoration: none;
    }
}
