---
title: posts
layout: page
permalink: cases/cases/index.html
---

<div class="title__section">
    <img class="main-image" src="{{ '/static/images/front-image.svg' | url }}" alt="">
    <div id="detailpage-cases"></div>
</div>

<script src="{{ '/static/js/detail-cases.js' | url }}"></script>