---
title: home
layout: page
permalink: index.html
---
<div class="title__section">
    <img class="main-image" src="{{ '/static/images/front-image.svg' | url }}" alt="">
    <h1 class="title__head">Graduaat programmeren</h1>
    <p class="title__subtitle">Artevelde hogeschool</p>
</div>

<div class="posts__section">
    <div class="cases__square">
        <h2>Cases</h2>
        <a class="more-info" href="/cases" data-navigo>Meer info<i class="fas fa-long-arrow-alt-right"></i></a>
    </div>
    <div class="slider">
        <div class="slidercontent">
            <div class="slider-image3"></div>
            <div class="header-text-top">
                <h2>5 redenen waarom jij moet kiezen voor Grafische en Digitale Media</h2>
            </div>
        </div>
        <div class="slidercontent">
            <div class="slider-image1"></div>

            <div class="header-text-top">
                <h2>Ground2Sky (student-ondernemer) workshop rond drones</h2>
            </div>
        </div>

        <div class="slidercontent">
            <div class="slider-image2"></div>
            <div class="header-text-top">
                <h2>Erasmus+ Photo Project: een internationale samenwerking met liefde voor fotografie</h2>
                <div class="red_line"></div>
            </div>
        </div>

        <div class="header-content-blue">
            <div class="header-blue">

            </div>
        </div>
    </div>
    <div class="header-button">
        <button class="header-button1" onclick="plusSlides(-1)">
            <i class="fas fa-chevron-left"></i>
        </button>
        <button class="header-button2" onclick="plusSlides(1)">
            <i class="fas fa-chevron-right"></i>
        </button>
    </div>
    <div class="slider_square_button">
        <button class="dot" onclick="currentSlide(1)"></button>
        <button class="dot" onclick="currentSlide(2)"></button>
        <button class="dot" onclick="currentSlide(3)"></button>
    </div>
</div>

<div class="cases__section">

</div>

