---
title: posts
layout: page
permalink: posts/index.html
---

<div class="title__section">
    <img class="main-image" src="{{ '/static/images/front-image.svg' | url }}" alt="">
    <h1 class="title__head">Posts</h1>
</div>

<div id="posts"></div>


<script src="{{ '/static/js/posts.js' | url }}"></script>

