---
title: studenten
layout: page
permalink: studenten/index.html
---

<div class="title__section">
    <img class="main-image" src="{{ '/static/images/front-image.svg' | url }}" alt="">
    <h1 class="title__head">Studenten</h1>
</div>

<div id="students"></div>


<script src="{{ '/static/js/students.js' | url }}"></script>

