---
title: team
layout: page
permalink: team/index.html
---

<div class="title__section">
    <img class="main-image" src="{{ '/static/images/front-image.svg' | url }}" alt="">
    <h1 class="title__head">Studenten</h1>
</div>

<div class="g-fb-container">
    <div class="g-fb-row" id="students">

    </div>
    <div class="g-fb-row" id="team">
    
    </div>
</div>


<script src="{{ '/static/js/students.js' | url }}"></script>
<script src="{{ '/static/js/team.js' | url }}"></script>
