---
title: team
layout: page
permalink: team/detail-team/index.html
---

<div class="title__section">
    <img class="main-image" src="{{ '/static/images/front-image.svg' | url }}" alt="">
    <div class="detailpage-team"></div>
</div>

<script src="{{ '/static/js/detail-student.js' | url }}"></script>